.title {
    font: 500 43px/1 Poppins, sans-serif; 
}

.text {
    font: 16px/28px Roboto, sans-serif;
    color: #c5c5c5;
    width: 480px;
}

.button {
    color: white;
    background-color: #DE3C3C;
    font: 500 13px/1 Poppins, sans-serif;
    padding: 12px 37px 12px 20px;
    border-radius: 4px;
    display: block;
    width: 120px;
    margin-bottom: 49px;
}